services:
  orchestrator:
    build: .
    container_name: orchestrator
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./credentials:/app/credentials
      - ./secrets:/app/secrets
      - .:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - .env